*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* container */

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.sm-container {
  max-width: 636px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  margin: 0 -12px;
}

.col-3 {
  padding: 0 12px;
  width: 25%;
}

.col-4 {
  padding: 0 12px;
  width: 33.3333%;
}
