<footer class="footer">
  <div class="container">
    <div class="footer-content d-flex jc-sb">
      <div class="footer-left d-flex">
        <ul class="footer-list d-flex mb-10">
          <li><a href="index.html">首頁</a></li>
          <li><a href="optical.html">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <div class="footer-cellphone d-flex mb-2">
          <a href="#"><img src="/assets/images/call_48dp_E8EAED_FILL0_wght400_GRAD0_opsz48.png" alt="call"></a>
          <p class="fs-3"><a href="#">0800-000-000</a></p>
        </div>
        <div class="footer-mail mb-8 d-flex">
          <a href="#"><img src="/assets/images/mail_48dp_E8EAED_FILL0_wght400_GRAD0_opsz48.png" alt="mail"></a>
          <p class="fs-3"><a href="#">glasses@business.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <ul class="footer-nav d-flex">
          <li><a href="#"><img src="/assets/images/ic-social-fb.png" alt="fb"></a></li>
          <li><a href="#"><img src="/assets/images/ic_social_ig.png" alt="ig"></a></li>
          <li><a href="#"><img src="/assets/images/ic_social_line.png" alt="line"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom d-flex jc-sb">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="footer-bottom-list d-flex">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
</footer>