.footer {
  background-color: $thirdary;
  padding: 0 0 32px 0;
  @include max-md {
    padding: 24px 0;
  }
  &-content {
    border-bottom: 1px solid #fff;
  }
  &-left {
    flex-direction: column;
    padding-top: 60px;
  }
  &-list {
    @include max-md {
      display: none;
    }
    gap: 48px;
    a {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
  &-cellphone,
  &-mail {
    a {
      color: #fff;
      @include max-md {
        font-size: 16px;
      }
    }
    img {
      width: 48px;
      margin-right: 16px;
      @include max-md {
        width: 24px;
      }
    }
  }
  &-mail {
    @include max-md {
      margin-bottom: 24px;
    }
  }
  &-left {
    @include max-md {
      padding: 0;
    }
  }
  &-right {
    padding-top: 48px;
    @include max-md {
      padding: 0;
    }
    img {
      width: 48px;
      @include max-md {
        width: 40px;
      }
      @include max-md {
        width: 24px;
      }
    }
  }
  &-nav {
    gap: 32px;
    @include max-md {
      gap: 8px;
    }
  }
  &-bottom {
    padding-top: 32px;
    @include max-md {
      padding-top: 16px;
      flex-direction: column;
    }
    p {
      color: #fff;
      @include max-md {
        margin-bottom: 8px;
      }
    }
    .footer-bottom-list {
      gap: 48px;
      @include max-md {
        gap: 8px;
        flex-direction: column;
      }
      a {
        font-size: 14px;
        color: #fff;
        &:hover {
          color: #650300;
        }
      }
    }
  }
}
