/* nav style */
.nav {
  background-color: #aa0601;
  padding: 16px 0;
  &-list {
    gap: 64px;
    a {
      color: #fff;
      &:hover {
        color: #fbf2f2;
      }
    }
  }
  @media (max-width: 630px) {
    .container {
      padding: 0;
    }
    padding-bottom: 0;
    &-rwd {
      flex-direction: column;
    }
    &-title {
      margin-right: auto;
      margin-left: 12px;
      margin-bottom: 16px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      gap: 0;
      width: 100%;
      li {
        width: 50%;
        a {
          display: block;
          border: 1px solid #fff;
          width: 100%;
          padding: 16px 0;
        }
      }
    }
  }
}
