/* header style */

.header {
  &-bg {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 787px;
    @include max-sm {
      height: 396px;
    }
  }
  &-content {
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    p {
      color: #650300;
      @include max-sm {
        font-size: 16px;
      }
    }
    h2 {
      color: #650300;
      font-weight: bold;
      @include max-sm {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
  }
  &-anchor {
    a {
      display: block;
      padding: 6px 12px;
      color: #fff;
      background-color: $thirdary;
      &:hover {
        background-color: #fff;
        color: $thirdary;
      }
      @include max-sm {
        font-size: 20px;
      }
    }
  }
}

/* main style */

.main {
  background-color: $primary;
  @include max-md {
    padding: 40px 0;
  }
  &-title {
    h2 {
      text-align: center;
      color: #650300;
      font-weight: bold;
      @include max-md {
        font-size: 24px;
      }
    }
  }
  &-list {
    h3 {
      color: #650300;
      font-weight: bold;
    }
    li {
      @include max-md {
        width: 50%;
        margin-bottom: 24px;
      }
      @include max-sm {
        width: 100%;
      }
    }
  }
}

/* section style */

.section {
  h2 {
    color: #650300;
    font-weight: bold;
    text-align: center;
  }
  &-list {
    h3 {
      color: #aa0601;
      font-weight: bold;
      font-style: italic;
      text-align: center;
    }
    li {
      @include max-lg {
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}

/* section2 style */

.section2 {
  @include max-sm {
    padding: 40px 0;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
    @include max-sm {
      margin-bottom: 24px;
    }
  }
  &-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-list {
    li {
      width: 50%;
      padding: 8px 0;
      @include max-md {
        width: 100%;
        padding: 0;
        margin-bottom: 24px;
      }
    }
    h3 {
      color: #aa0601;
      background-color: #fff;
      border: 1px solid lightgray;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      padding: 8px 0;
    }
  }
}

/* section3 style */

.section3 {
  h2 {
    color: #650300;
    text-align: center;
    font-weight: bold;
  }
  .card-shadow {
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 6px 0 #00000029;
  }
  .section3-card {
    &-text {
      padding: 16px;
      height: 205px;
      flex-direction: column;
    }
    h4 {
      font-weight: 700;
    }
    p {
      font-weight: 700;
    }
    time {
      margin-top: auto;
      font-size: 14px;
      color: #707070;
    }
    li {
      @include max-md {
        width: 50%;
        margin-bottom: 24px;
      }
      @include max-sm {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
  @include max-sm {
    padding: 40px 0;
  }
}

/* form style */

.section-form {
  input {
    background-color: transparent;
  }
  @include max-sm {
    padding: 40px 0;
  }
  background-color: #fbf2f2;
  h2 {
    color: #650300;
    text-align: center;
    font-weight: bold;
    @include max-md {
      margin-bottom: 24px;
    }
  }
  .form {
    input {
      padding: 6px 0 6px 12px;
    }
  }
  .form-w100 {
    width: 100%;
  }
  .question {
    input {
      padding: 6px 0 106px 12px;
    }
  }
  .checkbox {
    @include max-sm {
      margin-bottom: 24px;
    }
  }
  .place-holder::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  .form-button {
    text-align: center;
    button {
      display: inline-block;
      width: 100%;
      padding: 16px 0;
      color: #fff;
      font-weight: bold;
      background-color: #aa0601;
      cursor: pointer;
      &:hover {
        background-color: #650300;
      }
    }
  }
}
