.title2 {
  .container {
    @include max-md {
      padding: 0;
    }
  }
  &-list {
    .title2-list-border {
      border-bottom: 8px solid $thirdary;
    }
    li {
      width: 33.3333%;
      text-align: center;
      border: 1px solid #dcdcdc;
      &:hover {
        border-bottom: 8px solid $thirdary;
      }
      a {
        width: 100%;
        display: block;
        font-weight: 700;
        padding: 24px 0;
        font-size: 32px;
        color: $secondary;
        @include max-md {
          font-size: 24px;
          padding: 16px 0;
        }
        @include max-sm {
          font-size: 16px;
        }
      }
    }
  }
  &-img {
    width: 50%;
    @include max-sm {
      height: 136px;
    }
  }
}

.product2 {
  padding: 80px 0;
  @include max-sm {
    padding: 40px 0;
  }
  &-title {
    text-align: center;
    h3 {
      font-size: 42px;
      @include max-sm {
        font-size: 24px;
      }
    }
    p {
      font-size: 32px;
      margin-bottom: 32px;
      @include max-sm {
        font-size: 24px;
        margin-bottom: 24px;
      }
    }
  }
  .row {
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  &-list {
    .column {
      width: 33.3333%;
      padding: 0 12px;
      margin-bottom: 80px;
      @include max-optical-md {
        width: 50%;
        margin-bottom: 40px;
      }
      @include max-sm {
        width: 100%;
        margin-bottom: 24px;
      }
    }
    .product-text {
      p {
        font-size: 24px;
      }
      &-span {
        color: $thirdary;
      }
    }
    .product-color {
      button {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        margin-right: 8px;
      }
      &-left {
        background-color: #5f3e2d;
      }
      &-right {
        background-color: #b75929;
      }
    }
  }
  .page-list {
    justify-content: center;
    li {
      border: 1px solid #555555;
      button {
        display: inline-block;
        padding: 12px 16px;
        font-size: 18px;
        @include max-sm {
          font-size: 16px;
        }
        height: 100%;
        border: none;
        cursor: pointer;
        background-color: #fff;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      .page-text {
        font-size: 19px;
        @include max-sm {
          font-size: 16px;
        }
        padding: 11px 12px;
        &:hover {
          background-color: #f2f2f2;
          color: #000;
        }
      }
      .black-bg {
        background-color: #000;
        color: #fff;
      }
      .grey-bg {
        background-color: #f2f2f2;
      }
    }
  }
}
